<div>
  <p>These are my social networks where you can contact me.</p>
  <p>
    <img src="../assets/imgs/email2.png" height="50px" />
    Email: <u>samuel1209001@gmail.com</u>
  </p>
  <p>
    <img src="../assets/imgs/linkedin.png" height="50px" />
    LinkedIn: <a href="https://www.linkedin.com/in/samuel-sánchez-arroyo-71ba14201/" target="_blank">LinkeIn</a>
  </p>
  <p>
    <img src="../assets/imgs/github.png" height="50px" />
    GitHub : <a href="https://github.com/SamuelSA73/SamuelSA73" target="_blank">GitHub</a>
  </p>
</div>

