<div class="container">
  <div class="div-texto">
    <p>
      Hi, I'm <strong>Samuel Sanchez Arroyo</strong> <br /> I'm a <strong>.Net FullStack Developer</strong> <br />I am 22 years old and I am passionate about programming.
      This is my first application with angular and web development.
      If you want to know more about me, you can download my CV with the following button. You can also find my social networks in the contacts tab above. Thank you so much!<br />
      <button class="btn-download" (click)="Download()">Download Resume</button>
    </p>
    <div class="div-imagen">
      <img class="imgSA" src="../assets/imgs/periquito.jpg">
    </div>

  </div>


