<h1>Portfolio</h1>

<ul>
  <p class="p-titles">WORK EXPERIENCE</p>
  <li>
    <strong>FULLSTACK SOFTWARE DEVELOPER INDRA SOFTWARE LABS</strong>(21/03/2022 – 17/03/2023 Ciudad Real, Spain)
    <p>
      I was working in INDRA developing applications in Visual Basic .Net,WPF and SQL Server, making corrections and evolutions of
      the project, both frontend and backend. I was also working with the project server that used Java. Inside
      the server, I was modifying, adding and correcting some SQL queries that required maintenance
    </p>
  </li>
  <li>
    <strong>FULLSTACK FREELANCE SOFTWARE DEVELOPER</strong>(15/11/2022 – CURRENT Spain)
    <p>I have been freelancing for about a year in .NET and Angular. While I was also doing the courses I have certificates</p>
  </li>

  <p class="p-titles">EDUCATION AND CERTIFICATES</p>
  <li>
    <strong>
      CERTIFICATE OF HIGHER EDUCATION IN MULTIPLATFORM APPLICATION DEVELOPER IES Julio Verne
    </strong>(01/10/2020 – 20/06/2022 Toledo, Spain)
    <p><strong>Website:</strong><a class="urls" href="http://ies-julioverne.centros.castillalamancha.es/"><code>Click here!</code></a></p>
  </li>
  <li>
    <strong>VISUAL STUDIO 2022 C#-NIVEL INTERMEDIO (UDEMY CERTIFICATE)</strong>(10/09/2023 – 03/10/2023 Spain)
  </li>
  <li><strong>FOUNDATIONAL C#WITH MICROSOFT(FREECODECAMP CERTIFICATE) </strong>(08/09/2023 – 15/11/2023 Spain)</li>

  <p class="p-titles">LANGUAGE SKILLS</p>
  <li>Mother language: Spanish</li>
  <table class='table table-striped' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th>LANGUAGES</th>
        <th>LISTENING</th>
        <th>READING</th>
        <th>SPOKEN PRODUCTION</th>
        <th>SPOKEN INTERACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH</td>
        <td>C1</td>
        <td>B2</td>
        <td>B2</td>
        <td>B2</td>
      </tr>
      <tr>
        <td>FRENCH</td>
        <td>A2</td>
        <td>A2</td>
        <td>A2</td>
        <td>A2</td>
      </tr>
    </tbody>
  </table>
</ul>
